html, body{
	width:100%;
	height:100%;
	padding:0%;
	margin:0%;
	color:white;
	overflow:hidden;
}

body{
	background-image:url("background.jpg");
}

div{
	display:inline-block;
}

#sun{
	position:absolute;
	top:40%;
	right:70%;
	width:50%;
	opacity:0.6;
}

#mercury{
	position:absolute;
	top:78%;
	left:27%;
	width:5%;
	opacity:0.6;
}

#venus{
	position:absolute;
	top:51%;
	left:23%;
	width:7%;
	opacity:0.6;
}

#earth{
	position:absolute;
	left:36%;
	top:53%;
	width:14%;
	opacity:0.6;
}

#mars{
	position:absolute;
	width:10%;
	left:40%;
	top:20%;
	opacity:0.6;
}

#jupiter{
	position:absolute;
	width:20%;
	left:52%;
	top:25%;
	opacity:0.6;
}

#saturn{
	position:absolute;
	width:20%;
	left:60%;
	bottom:13%;
	opacity:0.6;
}

#uranus{
	position:absolute;
	width:10%;
	left:70%;
	bottom:70%;
	opacity:0.6;
}

#neptune{
	position:absolute;
	width:8%;
	left:80%;
	bottom:60%;
	opacity:0.6;
}

#sun:hover{
	opacity:1.0;
	transform:scale(1.025);
}

#mars:hover{
	opacity:1.0;
	transform:scale(1.025);
}

#earth:hover{
	opacity:1.0;
	transform:scale(1.025);
}

#neptune:hover{
	opacity:1.0;
	transform:scale(1.025);
}

#mercury:hover{
	opacity:1.0;
	transform:scale(1.025);
}

#venus:hover{
	opacity:1.0;
	transform:scale(1.025);
}

#uranus:hover{
	opacity:1.0;
	transform:scale(1.025);
}

#jupiter:hover{
	opacity:1.0;
	transform:scale(1.025);
}

#saturn:hover{
	opacity:1.0;
	transform:scale(1.025);
}