body{
	padding-top:20%;
	padding-left:40%;
}

.container { 
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: rotation 2s linear infinite;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .front {
  background: red;
  text-align: center;
  vertical-align:middle;
}
#card .back {
  background: blue;
  transform: rotateY( 180deg );
}

@keyframes rotation{
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(359deg);
	}
}

